.circle-chart-card-container {
    width: 20rem;
    height: 20rem;
    max-width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
    padding: 1rem;
}

.circle-chart-card-container .polarArea-chart{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}