.coins-overview-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.coins-overview-table{
    width: 80%;
    z-index: 2;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: var(--navbar-box-shadow);
    border-collapse: collapse;
    text-align: left;
}

th,td{
    padding: var(--input-padding);
}

thead, th{
    background: var(--active-text-color);
    color: var(--tabel-text-color);
    text-transform: uppercase;
}

.coins-overview-table tbody tr:nth-child(odd) {
    background: var(--secondary-background-color);
}
.coins-overview-table tr:hover {
    background: var(--secondary-background-color);
}

.coin-name-img{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.coin-img{
    width: 35px;
    border-radius: 50%;
}

.active{
    fill: rgb(246, 184, 126);
}