.coins-overview-table{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: var(--navbar-box-shadow);
    border-collapse: collapse;
    text-align: left;
}

th,td{
    padding: var(--input-padding);
}

thead, th{
    background: var(--active-text-color);
    color: var(--tabel-text-color);
    text-transform: uppercase;
}

.coins-overview-table tbody tr:nth-child(odd) {
    background: var(--secondary-background-color);
}
.coins-overview-table tr:hover {
    background: var(--secondary-background-color);
}