:root {
    /* Text Colors */
    --primary-text-color: #1A1A1A;
    --secondary-text-color: #9E9E9E;
    --active-text-color: #7a5af9;
    --success-color: #28C76F;
    --error-color: #EA5455;
    --warning-color: #FF9F43;

    /* Font Sizes */
    --font-small: 12px;
    --font-medium: 14px;
    --font-large: 16px;
    --font-xl: 20px;
    --font-xxl: 24px;
    --logo-size: 1.8rem;

    /* Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-xl: 32px;

    /* Navbar */
    --navbar-height: 90px;
    --navbar-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --navbar-border: 1px solid rgba(0, 0, 0, 0.1);

    /* Buttons */
    --like-btn-size: 50px;
    --favourite-btn-radius: 50%;

    /* Borders */
    --input-border-color: #9E9E9E;
    --input-border-radius: 6px;

    /* Padding */
    --input-padding: 10px;

    /* Gaps & Spacing */
    --logo-search-gap: 10%;
    --logo-search-padding: 0.5rem;

    /* Input Background */
    --input-bg-size: 24px;
    --input-bg-position: calc(100% - 10px) center;
}